body{
    background-image: url("/MTProject/hall\ bg.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1350px;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    color: green;
    font-family: inherit;
    font-size: 100px;
    text-shadow: 20px 20px 20px black;
}
img{
    width: 500px;
    height: 300px;
    border-radius: 10%;
    padding: 5px;
    border: 5px solid black;
    display: block;
    margin: auto;
}
h2{
    font-size: 40px;
}
table{
    border: 3px;
    border-color: black;
    background-color: bisque
}
td{
    border: 1px solid black;
    padding: 5px;
}
a{
       margin-right: 20px;
       text-decoration: none;
       font-family: fantasy;
       font-size: 20px;
       color: white;
       font-weight: bolder;
       font-size: 30px;
   }
a:hover{
    background-color: ivory;
    color:black;
    padding: 5px;
}